<!DOCTYPE html>
<html lang="ja" ng-app="myapp">
    <head>
        <meta charset="UTF-8">
        <title>Angularで作るTodoアプリ</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="myscript.js"></script>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <h1>Todo List</h1>
        <div ng-controller="MainController">
            <p>残タスク: {{getDoneCount()}}/{{tasks.length}}</p>
            <button ng-click="deleteDone()">削除する</button>
            <ul>
                <li ng-repeat="task in tasks">
                    <input type="checkbox" ng-model="task.done">
                    <span class="done-{{task.done}}">{{task.body}}</span>
                    <a href ng-click="tasks.splice($index,1)">[×]</a>
                </li>
            </ul>
            <form ng-submit="addNew()">
                <input type="text" ng-model="newtaskBody">
                <input type="submit" value="add">
            </form>
        </div>
    </body>
</html>